name: Semgrep SAST Scan

on:
  push:
  pull_request:

jobs:
  semgrep_sast_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Semgrep Scan
        run: |
          docker run --rm -v "$PWD:/src" semgrep/semgrep scan /src --json -o semgrep-results.json

      - name: Upload Semgrep results
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-results
          path: semgrep-results.json
